---
layout: default
---
{% assign chapterByPriority = site.meta_chapters | sort:"priority" %}
{% for cat in chapterByPriority %}

  <div class="f-page">
    <div class="f-title">
      <h2>{{ cat.description }}</h2>
    </div>
    <div class="box wh-page"></div>

    {% assign sectionsInChapter = site.posts | where_exp:"post","post.chapter == cat.slag" | group_by:"chapter" %}
    {% for section in sectionsInChapter %}

      {% if forloop.index > 1 %}
    </div>
    <div class="f-page">
      <div class="f-title">
        <h2>{{ cat.description }}</h2>
      </div>
      <div class="box wh-page"></div>  
      {% endif %}

      {% assign sortedPostsInSection = section.items | sort: "priority" %}
      {% for post in sortedPostsInSection %}
        {% include post.html %}
      {% endfor %}
    {% endfor %}
        
    <a class="bookmark" href="#/?page={{ forloop.index }}">{{ cat.name }}</a>
  </div>
{% endfor %}