---
layout: html-book
---
{% assign chapterByPriority = site.meta_chapters | sort:"priority" %}
{% for chapter in chapterByPriority %}

  <!-- {{ chapter.name }} -->
    {% assign sectionsInChapter = site.posts | where_exp:"post","post.chapter == chapter.slag" | group_by:"section" | reverse %}
    {% for section in sectionsInChapter %}
      {% assign sectionId = forloop.index %}
      <section
        data-category="{{ chapter.slag }}"
        data-category-page="{{ sectionId }}"
        data-description="{{ chapter.description }}">

        {% assign sortedPostsInSection = section.items | sort: "priority" | reverse %}
        {% for post in sortedPostsInSection %}

          {% capture articleId  %}{{ chapter.slag }}-{{ sectionId }}-{{ post.priority }}{% endcapture %}

          {% include html-article.html
            id = articleId %}
        {% endfor %}
      
      </section>

    {% endfor %}
{% endfor %}
