---
layout: html-gojira
---
{% assign chapterByPriority = site.meta_chapters | sort:"priority" %}
{% for chapter in chapterByPriority %}

  <!-- {{ chapter.name }} -->
    {% assign sectionsInChapter = site.posts | where_exp:"post","post.chapter == chapter.slag" | sort:"section" | reverse %}
    {% for section in sectionsInChapter %}
      <section id="{{ chapter.slag }}">
        <h2>{{ chapter.description | upcase }}</h2>

        {%- assign sortedPostsInSection = section.items | sort: "priority" | reverse -%}
        {%- for post in sortedPostsInSection -%}
          {%- capture articleId  -%}{{ chapter.slag }}-{{ post.priority }}{%- endcapture -%}
          {%- include html-gojira-article.html id=articleId -%}
        {%- endfor -%}
      
      </section>

    {% endfor %}
{% endfor %}
