{% capture imagePosition %}
{% if site.values.alignment contains post.box.image.position %}
  box-img-{{ post.box.image.position }}
{% endif %}
{% endcapture %}

{% capture imageWidth %}
{% if site.values.scaling contains post.box.image.scaling.width %}
  img-width{{ post.box.image.scaling.width }}
{% endif %}
{% endcapture %}

{% capture imageHeight %}
{% if site.values.scaling contains post.box.image.scaling.height %}
  img-height{{ post.box.image.scaling.height }}
{% endif %}
{% endcapture %}

{% capture boxWidth  %}
{% if site.values.dimension contains post.box.dimension.width %}
  w-{{ post.box.dimension.width }}
{% endif %}
{% endcapture %}

{% capture boxHeight  %}
{% if site.values.dimension contains post.box.dimension.height %}
  h-{{ post.box.dimension.height }}
{% endif %}
{% endcapture %}

{% capture boxWithMedia  %}
{% if post.tags contains "media" %}with-media{% endif %}
{% endcapture %}

<div
  id="post-{{ post.number }}"
  class="
  entry
  post-{{ post.number }}
  post
  type-post
  status-publish
  format-standard
  has-post-thumbnail
  hentry
  category-crew
  box
  {{ boxWidth }}
  {{ boxHeight }}
  {{ imagePosition }}
  {{ imageWidth }}
  {{ imageHeight }}
  {{ boxWithMedia }}">

  {% if post.box.image.src %}
    <div class="img-feat" style="background-image:url('{{ post.box.image.src }}');"></div>
	{% endif %}
	
  <div class="entry__info">
    <h3 class="entry__title">{{ post.title }}</h3>
    <span class="entry__meta">
      <time class="entry-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d.%m.%Y" }}</time>
    </span>
  </div>

	<div class="entry__content">
    {{ post.content }}
  </div>

</div>
