@font-face {
    font-family: 'aai';
    src: url('fonts/aai.woff2') format('woff2'),
		 url('fonts/aai.woff') format('woff'),
		 url('fonts/aai.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	padding:0;
	width:100%;
	height:100%;
}

/*
section {
	margin: 0;
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #C0B3A0;
}
*/

.paralax{
	background:url("images/clouds.svg"), linear-gradient(#da7885, #ffca8c);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 25em;
}

.paralax .foreground{
	height:50vmin;						
	bottom:0;
	width: 200%;
	background:url("images/foreground.svg") repeat-x;
	background-size: 50%;
	background-position-y: bottom;
	animation: slideshow 25s linear infinite;
	/* animation: slideshow 45s linear infinite; */
	position: fixed;
}

.paralax .hills{
	height:55vmin;						
	bottom:6vmin;
	width: 200%;
	background:url("images/middle-city.svg") repeat-x;
	background-size: 50%;
	background-position-y: bottom;
	animation: slideshow 45s linear infinite;
	/* animation: slideshow 90s linear infinite; */
	position: fixed;
}

.paralax .rocks1{
	height: 32vmin;
	bottom: 8vmin;
	width: 200%;
	background:url("images/rocks1.svg") repeat-x;
	background-position-y: bottom;
	background-size: 50%;
	animation: slideshow 90s linear infinite;
	/* animation: slideshow 180s linear infinite; */
	position: fixed;
}

.paralax .rocks2{
	height: 45vmin;
	bottom: 18vmin;
	width: 200%;
	background:url("images/rocks2.svg") repeat-x;
	background-position-y: bottom;
	background-size: 50%;
	animation: slideshow 180s linear infinite;
	/* animation: slideshow 360s linear infinite; */
	position: fixed;
}

@keyframes slideshow {
  0%    { transform: translateX(0%); }
  100%  { transform: translateX(-50%); }
}

@keyframes dayToNight {
	0%		{ 
		-webkit-filter: hue-rotate(0deg) brightness(1); 
		filter: hue-rotate(0deg) brightness(1); 
	}
	50% 	{ 
		-webkit-filter: hue-rotate(180deg) brightness(0.1); 
		filter: hue-rotate(180deg) brightness(0.1); 
	}
	100%  { 
		-webkit-filter: hue-rotate(0deg) brightness(1); 
		filter: hue-rotate(0deg) brightness(1); 
	}
}


/**
* Gojira
*/

.paralax .gojira{
	height: 37vmin;
	width: 62vmin;
	bottom: 6vmin;
	background:url("images/ezgif-6-811a6fbbd2b9.gif") no-repeat;
	background-size: 100% 100%;
	position: fixed;
}

/**	
* Nonatomic Branding
*/
#link{
	font-family: 'Roboto', sans-serif;
	position: fixed;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

.img-url{
	text-decoration: none;
}

.url{
	opacity: 0.5;
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: purple;
}

a:active{
	color: white;
}

/**
 * contents
 */

.paralax div.site section article:before {
	content:"";
	display: block;
	background-image: url('images/Scroll2.png');
	position: absolute;
	top: -1em;
	height: 5em;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.paralax div.site section article:after {
	content:"";
	display: block;
	background-image: url('images/Scroll2.png');
	position: absolute;
	bottom: -1em;
	height: 5em;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-ms-transform:scaleY(-1);
	-o-transform:scaleY(-1);
	transform:scaleY(-1);
}
.paralax div.site section article {
	display: block;
	max-width: 45em;
	margin: 2em auto;
	min-width: 10em;
	padding: 4em 4em 3em 4em;
	background-image: url('images/Scroll-bg.gif');
	background-size: 100%;
	background-repeat: repeat-y;
	position: relative;
}
.paralax div.site h1 {
	margin: auto;
	text-align: center;
	font-family: "aai";
	padding: 0.5em;
	text-shadow: 0em 0em 1em bisque;
	color: aliceblue;
	font-size: 5vw;
}
.paralax div.site section h2 {
	margin: auto;
	display: block;
	text-align: center;
	font-family: "aai";
	text-shadow: 0em 0em 1em #ffca8c;
	color: #da7885;
	padding: 1em;
	font-size: 1em;
}
.paralax div.site section article h3 {
	display: block;
	margin: 0;
}

.sitemap {
	position: fixed;
	bottom: 0;
	font-family: "aai";
	font-size: 1.4vw;
	display: flex;
	flex-direction: row;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
.sitemap > * {
    display: block;
	flex-grow: 1;
	text-align: center;
}
.sitemap a {
	display: block;
	text-decoration: none;
	color: #da7885;
	line-height: 5em;
}
.sitemap a:hover {
	text-shadow: 0em 0em 1em #ffca8c;
}
.paralax div.site section > hr {
	height: 3em;
	margin: 0em auto;
	padding: 0;
	border: 0;
	background-size: contain;
	background-position: center;
	background-image: url("images/icon.png");
	background-repeat: no-repeat;
}
.paralax div.site section > hr:last-child {
	display: none;
}

article img {
	max-width: 100%;
}
article .img-right {
	float:right;
	margin: 0 1em 0 1em;
	max-width: 50%;
}
article .img-left {
	float:left;
	margin: 0 1em 1em 0;
	max-width: 50%;
}
article .img-top {
	max-height: 20em;
	object-fit: cover;
	width: 100%;
}
article a,article a:link {
	color: #644;
}
article a:hover,article a:visited,article a:focus {
	color: #855;
	text-decoration: none;
}
article iframe {
	float: right;
}
.claim {
	margin: auto;
	text-align: center;
	font-family: "aai";
	color: bisque;
	font-size: 1.5vw;
	letter-spacing: 0.4em;
}
.social {
	display: block;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}
.social > * {
	display: block;
	flex-grow: 1;
	text-align: center;
}
.social a {
	display: block;
	text-decoration: none;
	color:#ffca8c;
	line-height: 3em;
	font-size: 1em;
	border-radius: 1em;
	margin: 1em;
	background-color:rgba(255,0,0,0.1);
}
.social a:hover {
	text-decoration: underline;
	background-color:rgba(255,0,0,0.2);
}