html, body {
	margin: 0;
	padding:0;
	width:100%;
	height:100%;
}

/*
section {
	margin: 0;
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #C0B3A0;
}
*/

.paralax{
	background:url("images/clouds.svg"), linear-gradient(#da7885, #ffca8c);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 25em;
}

.paralax .foreground{
	height:50vmin;						
	bottom:0;
	width: 200%;
	background:url("images/foreground.svg") repeat-x;
	background-size: 50%;
	background-position-y: bottom;
	animation: slideshow 25s linear infinite;
	/* animation: slideshow 45s linear infinite; */
	position: fixed;
}

.paralax .hills{
	height:55vmin;						
	bottom:6vmin;
	width: 200%;
	background:url("images/middle-city.svg") repeat-x;
	background-size: 50%;
	background-position-y: bottom;
	animation: slideshow 45s linear infinite;
	/* animation: slideshow 90s linear infinite; */
	position: fixed;
}

.paralax .rocks1{
	height: 32vmin;
	bottom: 8vmin;
	width: 200%;
	background:url("images/rocks1.svg") repeat-x;
	background-position-y: bottom;
	background-size: 50%;
	animation: slideshow 90s linear infinite;
	/* animation: slideshow 180s linear infinite; */
	position: fixed;
}

.paralax .rocks2{
	height: 45vmin;
	bottom: 18vmin;
	width: 200%;
	background:url("images/rocks2.svg") repeat-x;
	background-position-y: bottom;
	background-size: 50%;
	animation: slideshow 180s linear infinite;
	/* animation: slideshow 360s linear infinite; */
	position: fixed;
}

@keyframes slideshow {
  0%    { transform: translateX(0%); }
  100%  { transform: translateX(-50%); }
}

@keyframes dayToNight {
	0%		{ 
		-webkit-filter: hue-rotate(0deg) brightness(1); 
		filter: hue-rotate(0deg) brightness(1); 
	}
	50% 	{ 
		-webkit-filter: hue-rotate(180deg) brightness(0.1); 
		filter: hue-rotate(180deg) brightness(0.1); 
	}
	100%  { 
		-webkit-filter: hue-rotate(0deg) brightness(1); 
		filter: hue-rotate(0deg) brightness(1); 
	}
}


/**
* Gojira
*/

.paralax .gojira{
	height: 37vmin;
	width: 62vmin;
	bottom: 6vmin;
	background:url("images/ezgif-6-811a6fbbd2b9.gif") no-repeat;
	background-size: 100% 100%;
	position: fixed;
}

/**	
* Nonatomic Branding
*/
#link{
	font-family: 'Roboto', sans-serif;
	position: fixed;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

.img-url{
	text-decoration: none;
}

.url{
	opacity: 0.5;
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: purple;
}

a:active{
	color: white;
}

#small-logo{
	width: 30px;
	transform: translate(-10px, 12px);
	opacity:1;
}


/**
* Versions
*/
#versions{
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 5%;
	width: 100%;
	text-align: center;
}

.url-highlighted{
	opacity: 1;
	text-decoration: none;
}

.url-normal{
	opacity: 0.5;
	text-decoration: none;
}


/**
 * contents
 */

.paralax div.site section article {
	display: block;
	max-width: 45em;
	margin: 1em auto;
	min-width: 10em;
	padding: 1em;
	border: 1px solid;
	border-radius: 1em;
	background-color: rgba(100, 100, 100, 0.3);
	box-shadow: 1em 1em 3em #ffca8c;
}
.paralax div.site h1 {
	margin: auto;
	text-align: center;
}
.paralax div.site section h2 {
	margin: auto;
	display: block;
	text-align: center;
}
.paralax div.site section article h3 {
	display: block;
	margin: 0;
}
