---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include html-comic-head.html %}
  <body>

  {% include html-comic-nav.html %}

  <h1>{{site.title | upcase}}</h1>

  <div class="aside aside-1"><img src="https://deafflow.com/content-images/deaf-wolf-vectors-boy.svg" /></div>
  <div class="aside aside-2"><img src="https://deafflow.com/content-images/deaf-wolf-vectors-satan.svg" /></div>
  <ul id="details">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>


  <main>
    <img src="https://deafflow.com/content-images/Bandlogo2022-07-21-web3.svg" class="center" />
    {% for claim in site.header.sub-title %}
      <p>{{claim | upcase}}</p>
    {% endfor %}

    {{ content }}
  </main>

  {% include html-comic-social.html %}

  <script>
    /* insert "separator" for gigs */
    var a = new Date(); a.setDate(a.getDate()-1); a = a.toISOString().split("T")[0];
    let upcoming = Array.from(document.getElementById("show").getElementsByTagName("article"))
              .filter(p => Array.from(p.getElementsByTagName("time"))
                .find(q => q.getAttribute("datetime") >= a));

    if( upcoming.length>0 ) {
      let old = document.createElement("h1");
      old.innerHTML = "Old Gigs";
      upcoming[0].parentNode.insertBefore(old, upcoming[upcoming.length-1].nextSibling);

      /* reorder gigs */
      for(i=0; i<upcoming.length-1; i++) {
        var prev = upcoming[i].previousElementSibling;
        if(prev) { old.before(prev); }
        old.before(upcoming[i]);
        old = prev || upcoming[i];
      }
    }
  </script>
  </body>
</html>
