#scene > main > section {
  display: block;
  padding-top: 8vmin;
}
#scene > main > section > article {
  transition-property: height width opacity;
  transition-duration: 1s;
  transition-delay: 0s;
  color:#666;
}

section > article {
  width:100%;
  height:100%;
  opacity: 1;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
section.vertical > article.s-1,
section.vertical > article.s-9 + article { height:10%; }
section.vertical > article.s-2,
section.vertical > article.s-8 + article { height:20%; }
section.vertical > article.s-3,
section.vertical > article.s-7 + article { height:30%; }
section.vertical > article.s-4,
section.vertical > article.s-6 + article { height:40%; }
section.vertical > article.s-5,
section.vertical > article.s-5 + article { height:50%; }
section.vertical > article.s-6,
section.vertical > article.s-4 + article { height:60%; }
section.vertical > article.s-7,
section.vertical > article.s-3 + article { height:70%; }
section.vertical > article.s-8,
section.vertical > article.s-2 + article { height:80%; }
section.vertical > article.s-9,
section.vertical > article.s-1 + article { height:90%; }

section.horizontal > article.s-1,
section.horizontal > article.s-9 + article  { width:10%; }
section.horizontal > article.s-2,
section.horizontal > article.s-8 + article  { width:20%; }
section.horizontal > article.s-3,
section.horizontal > article.s-7 + article  { width:30%; }
section.horizontal > article.s-4,
section.horizontal > article.s-6 + article  { width:40%; }
section.horizontal > article.s-5,
section.horizontal > article.s-5 + article  { width:50%; }
section.horizontal > article.s-6,
section.horizontal > article.s-4 + article  { width:60%; }
section.horizontal > article.s-7,
section.horizontal > article.s-3 + article  { width:70%; }
section.horizontal > article.s-8,
section.horizontal > article.s-2 + article  { width:80%; }
section.horizontal > article.s-9,
section.horizontal > article.s-1 + article  { width:90%; }

#scene > main > section.vertical.focus article { height:0; }
#scene > main > section.horizontal.focus article { width:0; }
#scene > main > section.focus > article:target { height:100%; width:100%; }

#scene > main > section > article > header a {
  text-decoration: none;
  color: #000;
}
#scene > main > section > article:hover,
#scene > main > section > article:target {
  outline: 1px solid #ccc;
  color:  #000;
}

#scene > main > section.flipped > article {
  opacity: 0;
}
/* fix issue with maximum three pages to correctly work */ 
#scene > main > section.active ~ section ~ section {
  display: none;
}

/*
 * Zoom
 */
#scene > main > section > article > header > a.back,
#scene > main > section > article > header > a.anchor {
  display: none;
  float: right;
  padding: 0.1em;
  font-size: 2em;
  line-height: 0.5em;
  color: #888;
}
#scene > main > section > article > header > a.back:hover,
#scene > main > section > article > header > a.anchor:hover {
  color: #333;
}
#scene > main > section > article:target > header > a.back,
#scene > main > section > article:not(:target):hover > header > a.anchor {
  display: inline-block;
}
