body {
  font-family: 'Open Sans Condensed','Arial Narrow', serif;
  background: #a2956e url(../images-layout/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#scene > main > section > article {
  display:inline-block;
}

article {
  border-bottom: 1px solid #888;
  background-image: url(../images-layout/transline.png), url(../images-layout/transline.png);
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: 1px 300%;
}

article > header h1 {
  margin:0;
}
article > header time {
  color:#888;
  font-size: 0.8em;
}

#scene a {
  color: #111;
  
}

article > img.img-feat.img-left {
  float: left;
}
article > img.img-feat.img-right {
  float: right;
}
article > img.img-feat.img-top {
  width: calc(100% - 1.6em);
  height: 40%;
  object-fit: cover;
}

article > img.img-size-10 {
  width: calc(10% - 1.6em);
}
article > img.img-size-20 {
  width: calc(20% - 1.6em);
}
article > img.img-size-30 {
  width: calc(30% - 1.6em);
}
article > img.img-size-40 {
  width: calc(40% - 1.6em);
}
article > img.img-size-50 {
  width: calc(50% - 1.6em);
}
article > img.img-size-60 {
  width: calc(60% - 1.6em);
}
article > img.img-size-70 {
  width: calc(70% - 1.6em);
}
article > img.img-size-80 {
  width: calc(80% - 1.6em);
}
article > img.img-size-90 {
  width: calc(90% - 1.6em);
}
#scene > main > section {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: linear-gradient(to bottom right, #fff, #ccc);
  background-size: cover;
}
#scene > main > section:nth-child(2n+1) {
  background-image: url(../images-layout/paper03.jpg);
}
#scene > main > section:nth-child(2n+2) {
  background-image: url(../images-layout/paper04.jpg);
}
#scene blockquote {
  padding: 0.5em;
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0.98) 99%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 35%,rgba(255,255,255,0.98) 99%,rgba(255,255,255,1) 100%);
  background: linear-gradient(45deg, rgba(255,255,255,0) 35%,rgba(255,255,255,0.98) 99%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}


/*
 * SCROLL BAR
 */

article::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

article::-webkit-scrollbar
{
width: 0.3em;
background-color: #F5F5F5;
}

article::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}

/*
 * customization
 */
#scene > main > section > article {
  overflow-y: auto;
  overflow-x: hidden;
}
#scene > main > section > article > header > a.anchor {
  display:none !important;
}
.clickable {
  cursor:pointer;
}


/*
 * pagination
 */
nav .pagination .prev,
nav .pagination .next {
  cursor: pointer;
}

#scene > nav > ul.pagination > li > .next {
  border-radius: 2em 0.8em 0 0
}