#scene > main > section {
  display: block;
  padding-top: 8vmin;
}
#scene > main > section > article {
  transition-property: height width opacity;
  transition-duration: 1s;
  transition-delay: 0s;
  color:#666;
}

section > article {
  width:100%;
  height:100%;
  opacity: 1;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}




@media all and (orientation:portrait) {
  section > article:first-child:nth-last-child(1) {
    height: 100%;
  }
  section > article:first-child:nth-last-child(2),
  section > article:first-child:nth-last-child(2) ~ article {
    height: 50%;
  }
  section > article:first-child:nth-last-child(3),
  section > article:first-child:nth-last-child(3) ~ article {
    height: 33.3333%;
  }
  section > article:first-child:nth-last-child(4),
  section > article:first-child:nth-last-child(4) ~ article {
    height: 25%;
  }

  #scene section > article.s-1,
  #scene section > article.s-9 + article { height:10%; }
  #scene section > article.s-2,
  #scene section > article.s-8 + article { height:20%; }
  #scene section > article.s-3,
  #scene section > article.s-7 + article { height:30%; }
  #scene section > article.s-4,
  #scene section > article.s-6 + article { height:40%; }
  #scene section > article.s-5,
  #scene section > article.s-5 + article { height:50%; }
  #scene section > article.s-6,
  #scene section > article.s-4 + article { height:60%; }
  #scene section > article.s-7,
  #scene section > article.s-3 + article { height:70%; }
  #scene section > article.s-8,
  #scene section > article.s-2 + article { height:80%; }
  #scene section > article.s-9,
  #scene section > article.s-1 + article { height:90%; }

  #scene > main > section.focus article {
    height:0;
    overflow-y:hidden;
  }
}

@media all and (orientation:landscape) {

  #scene section > article.s-1,
  #scene section > article.s-9 + article  { width:10%; }
  #scene section > article.s-2,
  #scene section > article.s-8 + article  { width:20%; }
  #scene section > article.s-3,
  #scene section > article.s-7 + article  { width:30%; }
  #scene section > article.s-4,
  #scene section > article.s-6 + article  { width:40%; }
  #scene section > article.s-5,
  #scene section > article.s-5 + article  { width:50%; }
  #scene section > article.s-6,
  #scene section > article.s-4 + article  { width:60%; }
  #scene section > article.s-7,
  #scene section > article.s-3 + article  { width:70%; }
  #scene section > article.s-8,
  #scene section > article.s-2 + article  { width:80%; }
  #scene section > article.s-9,
  #scene section > article.s-1 + article  { width:90%; }

  section > article:first-child:nth-last-child(1) {
    width: 100%;
  }
  section > article:first-child:nth-last-child(2),
  section > article:first-child:nth-last-child(2) ~ article {
    width: 50%;
  }
  section > article:first-child:nth-last-child(3),
  section > article:first-child:nth-last-child(3) ~ article {
    width: 33.3333%;
  }
  section > article:first-child:nth-last-child(4),
  section > article:first-child:nth-last-child(4) ~ article {
    width: 25%;
  }
  #scene > main > section.focus article {
    width:0;
    overflow-y:hidden;
  }
}

#scene > main > section.focus > article:target { height:100%; width:100%; }

#scene > main > section > article > header a {
  text-decoration: none;
  color: #000;
}
#scene > main > section > article:hover,
#scene > main > section > article:target {
  outline: 1px solid #ccc;
  color:  #000;
  overflow-y: auto;
}

#scene > main > section.flipped > article {
  opacity: 0;
}
/* fix issue with maximum three pages to correctly work */ 
#scene > main > section.active ~ section ~ section {
  display: none;
}

/*
 * Zoom
 */
#scene > main > section > article > header > a.back,
#scene > main > section > article > header > a.anchor {
  display: none;
  float: right;
  padding: 0.1em;
  font-size: 2em;
  line-height: 0.5em;
  color: #888;
}
#scene > main > section > article > header > a.back:hover,
#scene > main > section > article > header > a.anchor:hover {
  color: #333;
}
