@font-face {
  font-family: 'Aramisi';
  src: url(http://deafflow.com/fonts/aramisi/aramisi.ttf) format('truetype'),
   url(http://deafflow.com/fonts/aramisi/aramisi.woff) format('woff');
}

body {
  overflow: hidden;
  background-color: #444;
}

p {
  margin: 0 0 0.1em;
  text-indent: 0.5em;
}
#scene > main > section > article > * {
  margin: 0.8em;
}
#scene > main > section > article {
  font-family: 'Aramisi';
  overflow: hidden;
}

#scene > main > section:before {
  display: block;
  content: attr(data-description);
  position: absolute;
  top: 0;
  left: 1em;
  font-family: Courier New;
  font-size: 5vmin;
  line-height: 2em;
  backface-visibility: hidden;
  overflow: hidden;
  height: 1.5em;
}

#scene > nav {
  position: absolute;
  bottom: 0;
  left: 100%;
  padding: 0;
  margin: 0 0 11em -9em;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 2em;
  font-size: 2vh;
  width: 20em;
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
  font-family: Courier New;
  text-transform: uppercase;
}
#scene > nav > ul {
  display:inline;
  margin:0 3em 0 0;
  padding:0;
}
#scene > nav > ul > li {
  display:inline;
}
#scene > nav > ul > li > a {
  display: inline-block;
  background: #ccc;
  border-radius: 0.8em 2em 0 0;
  padding: 0 1em;
  -webkit-box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.50);
  box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.50);
  text-decoration: none;
  color: #111;
  height: 100%;
  padding: 0 1em 0;
  line-height: 3em;
}